body{
    background-color: #E5E5E5;
    margin: 0;
}

h1,h2,h3,h4,h5,h6{
    font-family: Roboto, 'TimeNewRomans',sans-serif;
}

h1,h2{
    text-transform: capitalize;
    letter-spacing: -.5px;
}

h3{
    text-transform: capitalize;
} 

/*Inicio Header*/   
header{
    background-color: #008da6;
    height: 40px; 
}

.header-menu{
    height: inherit;
}

.header-menu ul{
    display:flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
    height: inherit;
}

.header-menu ul li{
    height: inherit;
}

.header-menu ul li a{
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: #000;
    text-decoration: none;
    opacity: 0.6;
    font-weight: 600;
    height: inherit;

}
/*Fin Header  */

/*Inicio Hero*/
.hero{
    background-color: #4fbdd7;
    color: black;
    opacity: .8;
}

.hero .personal-information{
    display: block;
    margin: 0 20px;
    /* justify-content: center;  */
    /* align-items: center; */
}


figure{
    margin: 0;
    height: 150px;
    width: 150px;
}

.hero-personal-photo img{
    height: inherit;
    width: inherit;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
}

/* 
.personal-information .hero-personal-text{
    align-self: center;
    place-self: center;      
} */

.hero-menu ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    margin: 7px 15px;
}

.hero-menu ul li{
    display: flex;
    align-items: center;
}

.hero-menu ul li a{
    text-decoration: none;
    color: black;
}
/* Fin Hero*/

body section,
.footer-menu
{
    background-color: #ffffff;
    color: #000;
    border: 1px solid #4fbdd7;
    border-radius: 2px;
    margin: 0 16vh 2.5vh 16vh ;
    padding: 10px;
    box-shadow: 8px 8px 5px black;
}


.data-of-interest{
    margin-bottom: 0;
}

/*Inicio Footer */
footer{
    margin-top: 0;
}

.footer-menu{
    background-color: #008da6; 
    border:  1px solid #008da6;
    margin-bottom: 0;
}

footer nav ul li{
    color: black;
    opacity: 0.9;
    filter:  alpha(opacity=50);
}
/*Fin Footer */