/* the design is a matriz 5 x 2 */
:root{
    --primary-color:#F6CD19;
    --secondary-color: #FAFAFA;
    --text-color: #0C0806;
}

body{
    margin: 0;
    display: grid;
    grid-template: repeat(6, 1fr) / 10vw repeat(2, 1fr) 10vw;
    grid-template-areas:    "left-side  header              header              right-side"
                            "left-side  contact             objective           right-side"
                            "left-side  academic-training   academic-training   right-side"
                            "left-side  work-experience     work-experience     right-side"
                            "left-side  data-of-interest    data-of-interest    right-side"
                            "left-side  footer              footer              right-side";
    height: 100vh;
    font-family: 'Roboto','Times New Roman', Times, serif;
    gap: 20px;
}

h3{
    text-transform: capitalize;
}

section{
    background-color: var(--secondary-color);
}

.header{
    grid-area: header;
    background-color: var(--primary-color);
    color: var(--text-color);
}

.header__menu{
    height: 50px;
    display: flex;
    text-align: center;
    justify-content: end;
}

.header__menu ul{
    display: flex;
    justify-content: flex-end;
    height: inherit;
    width: inherit;
    margin: 0;
}

.header__menu ul li {
    list-style: none;
    margin-right: 30px;
    height: inherit;
}

.header__menu ul li a{
    text-decoration: none;
    color: var(--text-color);
    height: inherit;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.header__information{
    display: flex;
    height: 200px;
    justify-content: center;
    background-color: inherit;
    align-items: center;
}

.header__information--personalPhoto img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.header__information--personalInformation{
    text-align: center;
    width: 600px;
    margin: 4%;
}

.contact{
    grid-area: contact;
}

.contact__information{
    height: 80%;
    margin: 3vh 4.5vw;
    width: 80%;
}

.contact__information--menu ul{
    list-style: none;
    /* margin-left: 3.5vw; */
    padding-left: 0;
}

.contact__information--menu ul li i{
    vertical-align: bottom;
}

.objective{
    grid-area: objective;
}

.academic-training{
    grid-area: academic-training;
}

.work-experience{
    grid-area: work-experience;
}

.data-of-interest{
    grid-area: data-of-interest;
}

.footer{
    grid-area: footer;
}

.left-side{
    grid-area: left-side;
    background: white;
}

.right-side{
    grid-area: right-side;
    background: white;
}