/* the design is a matriz 5 x 2 */
:root{
    --primary-color:#F6CD19;
    --secondary-color: #FAFAFA;
    --text-color: #0C0806;
}


body{
    margin: 0;
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(2, 1fr);
    grid-template-areas:    "header            header"
                            "contact           objective"
                            "academic-training  academic-training"
                            "work-experience    work-experience"
                            "data-of-interest   data-of-interest"
                            "footer            footer";
    height: 100vh;
    font-family: 'Roboto','Times New Roman', Times, serif;
    gap: 20px;
}

section{
    background-color: var(--secondary-color);
}

.header{
    grid-area: header;
    background-color: var(--primary-color);
    color: var(--text-color);
}

.header__menu{
    height: 50px;
    width: 86vw;
    display: flex;
    text-align: center;
    justify-content: end;
}

.header__menu ul{
    display: flex;
    justify-content: flex-end;
    height: inherit;
    width: inherit;
    margin: 0;
}

.header__menu ul li {
    list-style: none;
    margin-right: 30px;
    height: inherit;
}

.header__menu ul li a{
    text-decoration: none;
    color: var(--text-color);
    height: inherit;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.header__information{
    display: flex;
    height: 200px;
    width: 100vw;
    justify-content: center;
    background-color: inherit;
    align-items: center;
}

.header__information--personalPhoto img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.header__information--personalInformation{
    text-align: center;
    width: 600px;
    margin: 4%;
}

/*
.container{
    margin: 0 10vw;
    font-size: 20px;
}
*/

.contact{
    grid-area: contact;
    /* grid-column: 1 / span 3;
    grid-row: 1 / span 2; */
}

.objective{
    grid-area: objective;
}

.academic-training{
    grid-area: academic-training;
}

.work-experience{
    grid-area: work-experience;
}

.data-of-interest{
    grid-area: data-of-interest;
}

.footer{
    grid-area: footer;
}