/* the design is a matriz 5 x 2 */
body{
    margin: 0;
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(2, 1fr);
    grid-template-areas:    "header            header"
                            "contact           objective"
                            "academic-training  academic-training"
                            "work-experience    work-experience"
                            "footer            footer";
}

.header{
    grid-area: header;
}

.contact{
    grid-area: contact;
}

.objective{
    grid-area: objective;
}

.academic-training{
    grid-area: academic-training;
}

.work-experience{
    grid-area: work-experience;
}

.footer{
    grid-area: footer;
}



