/* the design is a matriz 5 x 2 */
body{
    margin: 0;
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(2, 1fr);
    grid-template-areas:    "header            header"
                            "contact           objective"
                            "academic-training  academic-training"
                            "work-experience    work-experience"
                            "footer            footer";
    height: 100vh;   
    font-family: 'Roboto','Times New Roman', Times, serif;                         

}

.header{
    grid-area: header;
    background-color: #3266BC;
    color: white;
}

.header__menu ul{
    display: flex;
    justify-content: flex-end;
}

.header__menu ul li {
    list-style: none;
    margin-right: 15px;
}

.header__menu ul li a{
    text-decoration: none;
    color: white;
}


.contact{
    grid-area: contact;
}

.objective{
    grid-area: objective;
}

.academic-training{
    grid-area: academic-training;
}

.work-experience{
    grid-area: work-experience;
}

.footer{
    grid-area: footer;
}

/* 
section{
    background-color: #FAFAFA;
} */
